* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display-scroll {
  flex-grow: 5;
  margin: 10px 10px;
  display: flex;
}
.button-container {
  position: relative;
  flex-grow: 1;
  margin: 10px 10px;
  background-color: cadetblue;
}
.book-display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  align-content: center;
}
#new-book {
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.single-book {
  display: flex;
  margin: 2px;
  border: solid rgb(214, 159, 57) 1px;
  padding: 5px;
  margin: 10px;
  box-shadow: 3px 5px rgb(214, 177, 129);
}
.book-info {
  flex: 6;
}
.read-button {
  margin: 0 2px;
  flex: 2;
}
.delete-button {
  margin: 0 2px;
  flex: 2;
}
